In [2]:
import pandas as pd

In [3]:
df = pd.read_table('/Users/damoncrockett/Desktop/megacities.txt',header=False,sep="\t")

In [4]:
df

,Rank,Megacity,Country,Continent,Population
0,1,Tokyo,Japan Japan,Asia,"37,900,000"
1,2,Jakarta,Indonesia Indonesia,Asia,"30,326,103"
2,3,Delhi,India India,Asia,"26,400,000"
3,4,Seoul,South Korea South Korea,Asia,"26,100,000"
4,5,Shanghai,China China,Asia,"25,400,000"
5,6,Mumbai,India India,Asia,"23,920,000"
6,7,New York City,United States United States,North America,"23,632,722"
7,8,Karachi,Pakistan Pakistan,Asia,"23,500,000"
8,9,Mexico City,Mexico Mexico,North America,"22,200,000"
9,10,Beijing,China China,Asia,"21,650,000"
10,11,Sao Paulo,Brazil Brazil,South America,"21,250,000"
11,12,Lagos,Nigeria Nigeria,Africa,"21,000,534"
12,13,Osaka,Japan Japan,Asia,"20,260,000"
13,14,Manila,Philippines Philippines,Asia,"20,040,000"
14,15,Cairo,Egypt Egypt,Africa,"18,810,000"
15,16,Los Angeles,United States United States,North America,"18,550,288"
16,17,Dhaka,Bangladesh Bangladesh,Asia,"18,250,000"
17,18,Moscow,Russia Russia,Europe,"16,900,000"
18,19,Buenos Aires,Argentina Argentina,South America,"16,500,000"
19,20,Kolkata,India India,Asia,"16,200,000"
20,21,Bangkok,Thailand Thailand,Asia,"15,350,000"
21,22,Istanbul,Turkey Turkey,Europe/Asia,"14,800,000"
22,23,Rio de Janeiro,Brazil Brazil,South America,"14,450,000"
23,24,Tehran,Iran Iran,Asia,"13,700,000"
24,25,London,United Kingdom United Kingdom,Europe,"13,640,000"
25,26,Guangzhou,China China,Asia,"12,700,000"
26,27,Kinshasa,Democratic Republic of the Congo Democratic Re...,Africa,"12,500,000"
27,28,Paris,France France,Europe,"12,292,900"
28,29,Shenzhen,China China,Asia,"12,250,000"
29,30,Lahore,Pakistan Pakistan,Asia,"11,550,000"
30,31,Rhine-Ruhr,Germany Germany,Europe,"11,350,000"
31,32,Tianjin,China China,Asia,"11,000,000"
32,33,Bengaluru,India India,Asia,"10,820,000"
33,34,Chennai,India India,Asia,"10,350,000"
34,35,Hyderabad,India India,Asia,"10,100,000"
35,36,Chongqing,China China,Asia,"10,000,000"