In [2]:
import pandas as pd

In [3]:
d = pd.read_csv('/Users/damoncrockett/Desktop/tweets.csv')

In [5]:
d[['WBAN','city','alt_wban','lat','lon']].head(50)

     WBAN         city  alt_wban        lat        lon
0   14821     columbus       NaN  39.938049 -82.886912
1   53863      atlanta       NaN  33.805219 -84.300265
2   14839    milwaukee       NaN  43.044368 -87.932791
3   13988  kansas city       NaN  39.235123 -94.567517
4   13893      memphis       NaN  35.123170 -89.980648
5   93821   louisville       NaN  38.251371 -85.757590
6   13988  kansas city       NaN  39.115658 -94.564520
7   92825        tampa       NaN  27.878393 -82.357132
8    3888      atlanta       NaN  33.757766 -84.401329
9   94846      chicago       NaN  42.008103 -87.888908
10  53917  new orleans       NaN  29.958088 -90.066005
11  94960  minneapolis       NaN  45.045398 -93.291307
12   3888      atlanta       NaN  33.757265 -84.401086
13   3929  kansas city     13988  38.914580 -94.398720
14  14922  minneapolis       NaN  44.982460 -93.272167
15  14822      detroit       NaN  42.376995 -82.930396
16  53917  new orleans       NaN  29.956842 -90.120781
17  13994    st. louis       NaN  38.632885 -90.192429
18  13994    st. louis       NaN  38.631819 -90.191609
19   4901       aurora       NaN  41.765683 -88.371536
20  53863      atlanta       NaN  33.779851 -84.375220
21  13897    nashville       NaN  36.211638 -86.694086
22  14839    milwaukee       NaN  43.043893 -87.915672
23   3888      atlanta       NaN  33.759608 -84.388503
24   4804     columbus       NaN  39.982660 -83.015336
25  53863      atlanta       NaN  33.783255 -84.387607
26  14922  minneapolis       NaN  44.982466 -93.272232
27  53863      atlanta       NaN  33.778063 -84.371714
28  53917  new orleans       NaN  29.931150 -90.108576
29  13893      memphis       NaN  35.138324 -89.991670
30   3929  kansas city     13988  38.972926 -94.432394
31   3888      atlanta       NaN  33.757548 -84.401434
32  14819      chicago       NaN  41.772782 -87.649917
33  14819      chicago       NaN  41.889300 -87.634050
34  13897    nashville       NaN  36.206598 -86.549317
35   3888      atlanta       NaN  33.757540 -84.401152
36   4804     columbus       NaN  40.005658 -83.009170
37  12906      houston       NaN  29.811747 -95.140686
38   3929  kansas city     13988  38.896413 -94.739799
39  93821   louisville       NaN  38.256458 -85.752761
40   4804     columbus       NaN  40.084481 -83.029093
41  94847      detroit       NaN  42.296939 -83.267735
42  14821     columbus       NaN  39.952670 -82.941590
43  13897    nashville       NaN  36.160250 -86.778255
44  14839    milwaukee       NaN  42.941777 -87.966026
45   3888      atlanta       NaN  33.757774 -84.401300
46  13810   louisville       NaN  38.267452 -85.611986
47  14922  minneapolis       NaN  44.982263 -93.272148
48   3888      atlanta       NaN  33.757960 -84.401391
49  14821     columbus       NaN  40.057037 -82.871697